<footer>
    <div class="footer-content">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
        <div class="social-media">
            <a href="https://www.instagram.com/cardboardcalligraphy/" target="_blank" aria-label="Instagram">
                <img src="{{ '/assets/icons/instagram.svg' | relative_url }}" alt="Instagram Icon">
            </a>
            <a href="https://www.deviantart.com/wotan587/" target="_blank" aria-label="DeviantArt">
                <img src="{{ '/assets/icons/deviantart.svg' | relative_url }}" alt="DeviantArt Icon">
            </a>
        </div>
    </div>
</footer>
