<header>
    <div class="container">
        <div class="logo">
            <a href="{{ site.baseurl }}/">Robert Grantham</a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/#projects">Projects</a></li>
                <li><a href="{{ site.baseurl }}/#skills">Skills</a></li>
                <li><a href="{{ site.baseurl }}/#blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>