<header>
    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">
                    <a href="/" class="logo">Robert Grantham</a>
                </div>
                <div class="navbar-burger navbar-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="navbar-menu">
                    <ul>
                        <li><a href="#intro">Home</a></li>
                        <li><a href="#portfolio">Projects</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>