<section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="fade-in">Welcome to My Data Analyst Portfolio</h1>
                <p class="fade-in">Hi, I'm Robert Grantham, a data analyst with a passion for turning data into actionable insights.</p>
                <a href="#projects" class="btn fade-in">View My Work</a>
                <a href="assets/files/resume.pdf" class="resume-btn fade-in">Download Resume</a>
            </div>
        </div>
    </section>