---
---

// Define the color palette
$soft-ivory: #F8F8F6;
$slate-gray: #718792;
$deep-charcoal: #333333;
$misty-blue: #B0C7D4;
$hero-darken: #B0C7D4; 

@import 'main';

// Custom styles
.hero {
  background-color: $hero-darken;
  color: $soft-ivory;
  .title, .subtitle {
    color: $soft-ivory;
  }
}

// Other styles...