---
layout: default 
title: Blog 
comments: true 
---
<section id="blog" class="blog-section fade-in">
    <div class="container">
        <h2>{{ page.title }}</h2>
        <p class="text-muted">{{ page.date | date: "%B %d, %Y" }}</p>
        <article class="blog-post">
            {{ content }}
        </article>
        <hr>
        <!-- Author Information -->
        <div class="author-info">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/images/profile-image.jpg" alt="Author" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-9">
                    <h4>About the Author</h4>
                    <p>Robert Grantham is a data analyst passionate about leveraging data to drive business decisions. Connect with Robert on <a href="https://www.linkedin.com/in/robertgrantham82/">LinkedIn</a>.</p>
                </div>
            </div>
        </div>
        <!-- Disqus Comments -->
        <div class="comments-section">
            <h4>Comments</h4>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                  this.page.url = '{{ page.canonical_url | absolute_url }}';
                  this.page.identifier = '{{ page.url }}';
                };
                (function() {
                  var d = document, s = d.createElement('script');
                  s.src = 'https://your-disqus-shortname.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
            </script>
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://robert-grantham-portfolio.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <script id="dsq-count-scr" src="//robert-grantham-portfolio.disqus.com/count.js" async></script>
        </div>
    </div>
</section>
<!-- Bootstrap JS, Popper.js, and jQuery (CDN) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-EaR8s5gB6sb2b4od4+2nhMn0zqbBqlN5PsfyL2Xwp0C2wZDl4zkEm6XpjJg3Jr1G" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- Custom Script -->
<script defer src="/assets/js/script.js"></script>