---
layout: default
comments: true
---

<section id="blog" class="blog-section fade-in">
  <div class="container">
    <h2>{{ page.title }}</h2>
    <p class="text-muted">{{ page.date | date: "%B %d, %Y" }}</p>
    <article class="blog-post">
      {{ content }}
    </article>
    <hr>
    <!-- Author Information -->
    <div class="author-info">
      <h4>About the Author</h4>
      <div class="author-details">
        <img src="/assets/images/profile-image.jpg" alt="Robert Grantham" class="about-image">
        <p>Robert Grantham is a data analyst, based in Austin, TX, passionate about leveraging data to drive business decisions. Connect with Robert on <a href="https://www.linkedin.com/in/robertgrantham82/">LinkedIn</a>.</p>
      </div>
    </div>
    <hr>
    <!-- Disqus Comments -->
    <div class="comments-section">
      <h4>Comments</h4>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function() {
          this.page.url = '{{ page.canonical_url | absolute_url }}';
          this.page.identifier = '{{ page.url }}';
        };
        (function() {
          var d = document,
              s = d.createElement('script');
          s.src = 'https://your-disqus-shortname.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <script id="dsq-count-scr" src="//robert-grantham-portfolio.disqus.com/count.js" async></script>
    </div>
  </div>
</section>
<style>
  .author-info {
    margin-top: 20px;
  }

  .author-details {
    display: flex;
    align-items: center;
  }

  .about-image {
    border-radius: 50%;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .comments-section {
    margin-top: 40px;
  }
</style>
